# this c# this config needs haproxy-1.1.28 or haproxy-1.2.1

# to run
# /usr/sbin/haproxy -f /etc/haproxy/haproxy.cfg 

# status/stats
# http://172.17.0.96:8080/haxproxy

global
        log 127.0.0.1   local0
        log 127.0.0.1   local1 notice
        #log loghost    local0 info
        maxconn 4096
        #chroot /usr/share/haproxy
        user haproxy
        group haproxy
        daemon
        #debug
        #quiet

defaults
        log     global
        mode    http
        option  httplog
        option  dontlognull
        retries 3
        option redispatch
        maxconn 2000
        contimeout      5000
        clitimeout      50000
        srvtimeout      50000

listen percona-cluster 0.0.0.0:3306
  balance leastconn
  option httpchk
  mode tcp
    server node1 172.17.0.93:3306 check port 9200 inter 5000 fastinter 2000 rise 2 fall 2
    server node2 172.17.0.94:3306 check port 9200 inter 5000 fastinter 2000 rise 2 fall 2
    server node3 172.17.0.95:3306 check port 9200 inter 5000 fastinter 2000 rise 2 fall 2 backup

listen stats :8080
    mode http
    stats enable
    stats hide-version
    stats realm Haproxy\ Statistics
    stats uri /
    stats auth super:password1

